</div>
<footer class="footer content-padding">
    <div class="block_inner">
        <div class="copy">© 2013 Магазин сантехники <br>GERHANS. Все права защищены</div>
        <div class="menu_footer">
            <ul>
                <li><a href="">О компании</a></li>
                <li><a href="">Доставка и оплата</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </div>
        <div class="phone_block">
            <div><a href="tel:84957654321"><span style="color: #999999;">8</span> <span style="color: #4c4c4c;">495</span> 765 43 21</a></div>
            <div><a href="tel:89169876543"><span style="color: #999999;">8</span> <span style="color: #4c4c4c;">916</span> 987 65 43</a></div>
            <div class="btn_call"  data-remodal-target="collback-popup">Обратный звонок</div>
        </div>
        <div class="copy_dev">
            <img src="files/copy-dev.png" alt="">
            <div class="text">Создание сайта: Smartsoft</div>
        </div>
        <div class="links">
            <div class="count"></div>
            <a href="">Каталог компаний</a> | <a href="">Каталог статей </a>
        </div>
    </div>
</footer>
</div>
<div class="remodal collback" data-remodal-id="collback-popup">
    <button data-remodal-action="close" class="remodal-close-btn"></button>
    <div class="collback__block">
        <form action="">
            <div class="title">Вопрос руководству</div>
            <div class="field">
                <div class="field_name">Имя и фамилия:</div>
                <input type="text">
            </div>
            <div class="field">
                <div class="field_name">Номер телефона:</div>
                <input type="text">
            </div>
            <div class="field">
                <div class="field_name">Комментарий:</div>
                <input type="text">
            </div>
            <div class="field captcha">
                <div class="field_name">Комментарий:</div>
                <div class="captcha_img">
                    <img src="files/captcha.jpg" alt="">
                </div>
                <input type="text">
            </div>
            <div class="field radio">
                <div class="field_name">Время звонка:</div>
                <ul>
                    <li>
                        <label>
                            <input type="radio" name="time" value="1">
                            <i></i>
                            <span>Как можно скорее</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="time" value="2">
                            <i></i>
                            <span>После обеда</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="time" value="3">
                            <i></i>
                            <span>До обеда</span>
                        </label>
                    </li>
                </ul>
            </div>
            
            <div class="field_btn">
                <div class="name"></div>
                <button type="submit" class="btn_button">Отправить запрос</button>
                <input type="reset" class="btn_button" value="Очистить">
            </div>   
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/lightgallery-all.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>