<div class="product_card">
    <div class="image">
        <a href=""><img src="files/product.jpg" alt=""></a>
    </div>
    <div class="name">
        <a href="">Душевая кабина Jacuzzi Mynima 80 Sphere</a>
    </div>
    <div class="params">
        <ul>
            <li>
                <span>Артикул:</span>
                <strong>411060XX</strong>
            </li>
            <li>
                <span>Размеры:</span>
                <strong>60 x 95 x 210 см </strong>
            </li>
            <li>
                <span>Бренд:</span>
                <strong>Jacuzzi</strong>
            </li>
        </ul>
    </div>
    <div class="prices">
        <div class="current">
            <strong>39 500</strong> руб.
        </div>
        <div class="old"><strong>46 250</strong> руб.</div>
    </div>
    <div class="bottom_btns">
        <div class="buy">В корзину</div>
        <div class="compare_btn"></div>
        <div class="bookmark_btn"></div>
    </div>
</div>