include _header.jade
    <div class="content_site content-padding">
        <div class="block_inner">
            <div class="card_page">
                <div class="h1_title">
                    <h1>Заголовок текстового раздела</h1>
                    <div class="link_back"><a href="">Ссылка «назад»</a></div>
                </div>
                <div class="path_block">
                    <a href="">Главная</a><span></span><a href="">екстовый раздел</a><span></span><a href="">Подраздел текстового раздела </a><span></span>Еще один уровень
                </div>
                <div class="card_page_inner">
                    <div class="left_card">
                        <div class="card_image">
                            <div class="gall_image">
                                <div class="swiper gall-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="files/card.jpg"><img src="files/card.jpg" alt=""></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="files/card.jpg"><img src="files/card.jpg" alt=""></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="files/card.jpg"><img src="files/card.jpg" alt=""></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="files/card.jpg"><img src="files/card.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper gall-thumb-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="files/card.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="files/card.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="files/card.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="files/card.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="params_block">
                            <div class="title">Характеристики</div>
                            <ul>                            
                                <li>
                                    <div class="name">Форма: </div>
                                    <div class="val">Округлая</div>
                                </li>
                                <li>
                                    <div class="name">Материал: </div>
                                    <div class="val">Санфаянс</div>
                                </li>
                                <li>
                                    <div class="name">Длина, мм:</div>
                                    <div class="val">560</div>
                                </li>
                                <li>
                                    <div class="name">Ширина, мм:</div>
                                    <div class="val">455</div>
                                </li>
                                <li>
                                    <div class="name">Высота, мм:</div>
                                    <div class="val">195</div>
                                </li>
                                <li>
                                    <div class="name">Производитель:</div>
                                    <div class="val">Ideal Standart</div>
                                </li>
                                <li>
                                    <div class="name">Страна:</div>
                                    <div class="val">Германия</div>
                                </li>
                            </ul>
                        </div>
                        <div class="docs">
                            <div class="title">Документация</div>
                            <ul>
                                <li><a href="">Техническая информация о товаре</a></li>
                                <li><a href="">Инструкция по установке</a></li>
                                <li><a href="">Эксплуатационные характеристики</a></li>
                                <li><a href="">Спецификации</a></li>
                            </ul>
                        </div>
                        <div class="texnology">
                            <div class="title">Технологии</div>
                            <div class="inner">
                                <div class="item">
                                    <img src="files/tex.png" alt="">
                                </div>
                                <div class="item">
                                    <img src="files/tex-02.png" alt="">
                                </div>
                                <div class="item">
                                    <img src="files/tex-03.png" alt="">
                                </div>
                                <div class="item">
                                    <img src="files/tex-04.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_card">
                        <div class="cart_top">
                            <div class="left_card_inner">
                                <div class="name">Тумба напольная Верона Луссо SU 101 с раковиной Ideal Standart Motion</div>
                                <div class="body">
                                    <p>Фасады и боковые стенки выполнены из стекла,  с внутренней стороны окрашенного специальной влагостойкой краской.</p>
                                    <p>Подстолье с двумя дверцами укомплектованными хром ручками, а также доводчиками, которые позволяют дверцам плавно и бесшумно закрываться. Внутри подстолья стеклянные </p>
                                </div>
                                <div class="action_card">
                                    <div class="prices">
                                        <div class="current">
                                            <strong>39 500</strong> руб.
                                        </div>
                                    </div>
                                    <div class="bottom_btns">
                                        <div class="buy">В корзину</div>
                                        <div class="compare_btn"></div>
                                        <div class="bookmark_btn"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="right_card_inner">
                                <div class="params_block">
                                    <div class="title">Группы</div>
                                    <ul>                            
                                        <li>
                                            <div class="name">По помещениям</div>
                                            <div class="val">смесители и термостаты</div>
                                        </li>
                                        <li>
                                            <div class="name">По назначению</div>
                                            <div class="val">смесители для раковины</div>
                                        </li>
                                        <li>
                                            <div class="name">По типу</div>
                                            <div class="val">смесители</div>
                                        </li>
                                        <li>
                                            <div class="name">Тип управления</div>
                                            <div class="val">двухвентильные смесители</div>
                                        </li>
                                        <li>
                                            <div class="name">Тип монтажа</div>
                                            <div class="val">на 1 отверстие</div>
                                        </li>
                                        <li>
                                            <div class="name">Тип излива</div>
                                            <div class="val">смесители с литым изливом</div>
                                        </li>
                                        <li>
                                            <div class="name">Серия</div>
                                            <div class="val">SAN REMO</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="select_products">
                            <div class="title_table">
                                <div class="title_name">Выберите комплектацию</div>
                                <div class="price">Цена, руб.</div>
                                <div class="select">Выбор</div>
                            </div>
                            <div class="select_products_inner">
                                <div class="select_product">
                                    <div class="image">
                                        <a href=""><img src="files/card.jpg" alt=""></a>
                                    </div>
                                    <div class="select_product_datal">
                                        <div class="name"><a href="">Раковина встраиваемая Ideal Standard SAN REMO R 4101</a></div>
                                        <div class="text">подсветка белая, 500 мм</div>
                                    </div>
                                    <div class="price">9 500</div>
                                    <div class="btn_r"><div class="radio_btn"></div></div>
                                </div>
                                <div class="select_product">
                                    <div class="image">
                                        <a href=""><img src="files/card.jpg" alt=""></a>
                                    </div>
                                    <div class="select_product_datal">
                                        <div class="name"><a href="">Раковина встраиваемая Ideal Standard SAN REMO R 4102</a></div>
                                        <div class="text">подсветка желтая, 500 мм</div>
                                    </div>
                                    <div class="price">9 900</div>
                                    <div class="btn_r"><div class="radio_btn"></div></div>
                                </div>
                                <div class="select_product">
                                    <div class="image">
                                        <a href=""><img src="files/card.jpg" alt=""></a>
                                    </div>
                                    <div class="select_product_datal">
                                        <div class="name"><a href="">Раковина встраиваемая Ideal Standard SAN REMO R 4103</a></div>
                                        <div class="text">подсветка зеленая, 500 мм</div>
                                        <div class="body">Пневматическое управление, массаж, ротационные форсунки для спины, защита от сухого запуска насоса, защита от мокрой остановки</div>
                                    </div>
                                    <div class="price">10 700</div>
                                    <div class="btn_r"><div class="radio_btn"></div></div>
                                </div>
                            </div>                                                                  
                        </div>
                        <div class="chech_products">
                            <div class="title_table">
                                <div class="title_name">Выберите комплектацию</div>
                                <div class="price">Цена, руб.</div>
                                <div class="select">Выбор</div>
                            </div>
                            <div class="title">Хромотерапия</div>
                            <div class="subtitle">Подсветка для ванны</div>
                            <div class="chech_products_inner">
                                <div class="chech_product">
                                    <div class="image">
                                        <a href=""><img src="files/card.jpg" alt=""></a>
                                    </div>
                                    <div class="chech_product_datal">
                                        <div class="name"><a href="">Раковина встраиваемая Ideal Standard SAN REMO R 4101</a></div>
                                        <div class="text">подсветка белая, 500 мм</div>
                                    </div>
                                    <div class="price">9 500</div>
                                    <div class="btn_r"><div class="check_btn"></div></div>
                                </div>
                                <div class="chech_product">
                                    <div class="image">
                                        <a href=""><img src="files/card.jpg" alt=""></a>
                                    </div>
                                    <div class="chech_product_datal">
                                        <div class="name">Раковина встраиваемая Ideal Standard SAN REMO R 4102<a href=""></a></div>
                                        <div class="text">подсветка желтая, 500 мм</div>
                                    </div>
                                    <div class="price">9 900</div>
                                    <div class="btn_r"><div class="check_btn"></div></div>
                                </div>
                                <div class="chech_product">
                                    <div class="image">
                                        <a href=""><img src="files/card.jpg" alt=""></a>
                                    </div>
                                    <div class="chech_product_datal">
                                        <div class="name"><a href="">Раковина встраиваемая Ideal Standard SAN REMO R 4103</a></div>
                                        <div class="text">подсветка зеленая, 500 мм</div>
                                        <div class="body">Пневматическое управление, массаж, ротационные форсунки для спины, защита от сухого запуска насоса, защита от мокрой остановки</div>
                                    </div>
                                    <div class="price">10 700</div>
                                    <div class="btn_r"><div class="check_btn"></div></div>
                                </div>
                            </div>                                                                  
                        </div>
                        <div class="action_card">
                            <div class="prices">
                                <div class="current">
                                    <strong>39 500</strong> руб.
                                </div>
                                <div class="old"><strong>46 250</strong> руб.</div>
                            </div>
                            <div class="bottom_btns">
                                <div class="buy">В корзину</div>
                                <div class="compare_btn"></div>
                                <div class="bookmark_btn"></div>
                            </div>
                        </div>
                    </div>                                                                      
                </div>                          
            </div>
        </div>
    </div>
include _footer.jade