include _header.jade
    <div class="icons_block content-padding">
        <div class="block_inner">
            <div class="link">
                <a href="">
                    <span>Почему именно наш магазин?</span>
                </a>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="files/icon-03.png" alt="">
                </div>
                <div class="text">2 000 000 товаров по лучшим ценам</div>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="files/icon.png" alt="">
                </div>
                <div class="text">Подтверждение заказа за час</div>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="files/icon-04.png" alt="">
                </div>
                <div class="text">Доставка любым удобным способом</div>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="files/icon-02.png" alt="">
                </div>
                <div class="text">Гарантированный возврат товара</div>
            </div>
        </div>
    </div>
    <div class="slider_main content-padding">
        <div class="block_inner">
            <div class="menu-slider-wrapper">
                <button class="menu-button-prev"></button>
                
                <div class="swiper menu-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="menu-item-content">
                                <h3>Раковины для ванной</h3>
                                <p>Огромный выбор по доступным ценам</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="menu-item-content">
                                <h3>Аксессуары</h3>
                                <p>Широкие возможности и функционал</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="menu-item-content">
                                <h3>Акриловые ванны</h3>
                                <p>Разнообразие форм и подогрева тепла</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="menu-item-content">
                                <h3>Мебель для ванной</h3>
                                <p>Более 1000 наименований в каталоге</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="menu-item-content">
                                <h3>Душевые кабины</h3>
                                <p>Современный дизайн и технологии</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button class="menu-button-next"></button>
            </div>
            <div class="content-slider-wrapper">
                <div class="swiper content-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image: url(files/gerhans-slide-00.jpg);">
                            <div class="slide-header">
                                <h2>Раковины для ванной</h2>
                                <div class="slide-info">
                                    
                                    <p>Огромный выбор раковин по доступным ценам. Классические и современные модели, накладные и встраиваемые раковины для любого интерьера ванной комнаты.</p>
                                    <a href="#" class="slide-link">Все раковины GERHANS</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url(files/gerhans-slide-00.jpg);">
                            <div class="slide-header">
                                <h2>Аксессуары GERHANS: широкие возможности и функционал</h2>
                                <div class="slide-info">
                                    
                                    <p>Аксессуары GERHANS подарят вам незабываемые ощущения. Благодаря им вы узнаете, что такое новые ощущения, преисполненные отдыхом и впечатлениями.</p>
                                    <a href="#" class="slide-link">Все об аксессуарах GERHANS</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url(files/gerhans-slide-00.jpg);">
                            <div class="slide-header">
                                <h2>Акриловые ванны</h2>
                                <div class="slide-info">
                                    
                                    <p>Разнообразие форм и подогрева тепла. Современные акриловые ванны с различными системами гидромассажа и комфортными формами для расслабления.</p>
                                    <a href="#" class="slide-link">Каталог акриловых ванн</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url(files/gerhans-slide-00.jpg);">
                            <div class="slide-header">
                                <h2>Мебель для ванной</h2>
                                <div class="slide-info">            
                                    <p>Более 1000 наименований в каталоге. Тумбы, пеналы, зеркальные шкафы и комплекты мебели для создания функционального и стильного интерьера.</p>
                                    <a href="#" class="slide-link">Смотреть мебель</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url(files/gerhans-slide-00.jpg);">
                            <div class="slide-header" >
                                <h2>Душевые кабины</h2>
                                <div class="slide-info">
                                    
                                    <p>Современный дизайн и технологии. Душевые кабины с различными функциями: тропический душ, гидромассаж, парогенератор и многое другое.</p>
                                    <a href="#" class="slide-link">Все душевые кабины</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spes_block content-padding">
        <div class="block_inner">
            <div class="title_block">
                <div class="title">Специальные предложения</div>
                <a href="" class="all">Все предложения <span>(186)</span></a>
            </div>
            <div class="spes_tab_title">
                <ul>
                    <li class="active"><a href="#tab-0">Душевые кабины</a></li>
                    <li><a href="#tab-1">Смесители</a></li>
                    <li><a href="#tab-2">Мебель для ванн</a></li>
                    <li><a href="#tab-3">Унитазы</a></li>
                    <li><a href="#tab-4">Акриловые ванны</a></li>
                </ul>
            </div>
            <div class="spes_tab_body">
                <div class="tab_body active" id="tab-0">
                    <div class="swiper swiper_product">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="tab_body " id="tab-1">
                    <div class="swiper swiper_product">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="tab_body " id="tab-2">
                    <div class="swiper swiper_product">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="tab_body " id="tab-3">
                    <div class="swiper swiper_product">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="tab_body" id="tab-4">
                    <div class="swiper swiper_product">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                            <div class="swiper-slide">
                                include _product.jade
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="text_block_bottom content-padding">
        <div class="block_inner">
            <div class="left">
                <div class="title">Магазин сантехники GERHANS — лучший выбор сантхеники!</div>
                <div class="text">Тысячи товаров со скидками для самых хороших клиентов! Спешите выбрать лучшее по действительно низким ценам!</div>
                <a href="" class="link">Узнать больше о нас</a>
            </div>
            <div class="right">
                <div class="text">
                    <p>Наша компания рада предложить своим покупателям большой выбор сантехники для дома, а именно: гидромассажные ванны, мебель для ванной и душевые кабины и углы высокого качества, фаянс, стальные и чугунные ванны.</p>
                    <p>С нами Вы сможете подобрать сантехнику по нужным параметрам от лучших Мировых производителей сантехники. Если Вам необходима помощь в выборе сантехники, наши консультанты всегда рады помочь Вам с выбором и дать совет по подбору материалов и установке сантехники. </p>
                    <p>Мы уверены, что купленная у нас сантехника будет</p>
                </div>
                <div class="text">
                    <p>Немецкая, итальянская, чешская, английская сантехника на нашем сайте представлена такими брендами как: Hansgrohe, DornBracht, Villeroy Boch, Duravit, Huppe, Jado, Keramag, PHARO, Ravak, Teuco, Jacuzzi, Albatros и другими.</p>
                    <p>Процесс покупки товаров у нас станет Вашим любимым занятием. Кроме того, наш интернет-салон постоянно устраивает акции и распродажи. Хороших Вам покупок, отличного настроения и приятных встреч! </p>
                    <p>Безусловно, современный человек привык к комфорту и маленьким радостям, которые смогут окружать его каждый день и помогать расслабляться и получать </p>
                </div>
            </div>
        </div>
    </div>
include _footer.jade