include _header.jade
    <div class="content_site content-padding">
        <div class="block_inner">
            <div class="left_panel">
                <div class="menu_left">
                    <div class="name">В разделе:</div>
                    <ul>
                        <li class="active">
                            <a href="">Текстовый раздел</a>
                            <ul>
                                <li><a href="">Первый подраздел</a></li>
                                <li><a href="">Вторая страница</a></li>
                                <li class="active"><a href="">Еще один уровень</a></li>
                                <li><a href="">Предпоследняя страница</a></li>
                                <li><a href="">Последний пункт</a></li>
                            </ul>
                        </li>
                        <li><a href="">Текстовый раздел</a></li>
                        <li><a href="">Текстовый раздел</a></li>
                        <li><a href="">Текстовый раздел</a></li>
                        <li><a href="">Текстовый раздел</a></li>
                    </ul>
                </div>
                <div class="info_block">
                    <img src="files/in.jpg" alt="">
                    <div class="name">Осенние скидки: спешите покупать!</div>
                    <a href="">Узнать больше</a>
                </div>
                include _product.jade
            </div>
            <div class="right_content">
                <div class="h1_title">
                    <h1>Заголовок текстового раздела</h1>
                    <div class="link_back"><a href="">Ссылка «назад»</a></div>
                </div>
                <div class="path_block">
                    <a href="">Главная</a><span></span><a href="">екстовый раздел</a><span></span><a href="">Подраздел текстового раздела </a><span></span>Еще один уровень
                </div>
                <div class="text_content">
                    <div class="left_text">
                        <h3>Компания производит и с успехом реализует мебель для ванных комнат собственного производства. Наша продукция ни в чем не уступает лучшим европейским образцам.</h3>
                        <p>Мы стараемся обеспечить индивидуальный подход к каждому клиенту и предоставить всем профессиональную и подробную консультацию по каталогу товаров, начиная от сантехники и мебели для ванных эконом класса и заканчивая <a href=""><strong>элитными моделями</strong></a>. Это один из основных принципов нашей работы, мы ставим своей задачей не просто реализовать ту или иную продукцию.</p>
                        <ul>
                            <li>Мы стараемся подобрать максимально удобный вариант под клиента. </li>
                            <li>Чтобы облегчить Ваш выбор, в нашем магазине работают консультанты. </li>
                            <li>Вы всегда имеете возможность получить наши рекомендации</li>
                            <li>Советы относительно всех технических моментов — бесплатно.</li>
                        </ul>
                        <p>Мы реализуем продукцию исключительного качества, и щепетильно отбираем марки, которые заслуживают доверия. </p>
                    </div>
                    <div class="info_block_wh">
                        <img src="files/inf.jpg" alt="">
                        <div class="name">В принципах нашей компании сотрудничать только с известными и проверенными производителями. Поэтому надежность — наше кредо. </div>
                    </div>
                </div>
                <div class="table_price">
                    <div class="name">Цены на доставку в регионы</div>
                    <div class="table_wr">
                        <table>
                            <thead>
                                <tr>
                                    <th>Регион</th>
                                    <th>Форма оплаты</th>
                                    <th>Километраж</th>
                                    <th>Тоннаж</th>
                                    <th>Цена, руб.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Москва</td>
                                    <td>Авансовая</td>
                                    <td>50—100</td>
                                    <td>10</td>
                                    <td>14 560</td>
                                </tr>
                                <tr>
                                    <td>Москва</td>
                                    <td>Авансовая</td>
                                    <td>50—100</td>
                                    <td>10</td>
                                    <td>14 560</td>
                                </tr>
                                <tr>
                                    <td>Москва</td>
                                    <td>Авансовая</td>
                                    <td>50—100</td>
                                    <td>10</td>
                                    <td>14 560</td>
                                </tr>
                                <tr>
                                    <td>Москва</td>
                                    <td>Авансовая</td>
                                    <td>50—100</td>
                                    <td>10</td>
                                    <td>14 560</td>
                                </tr>
                                <tr>
                                    <td>Москва</td>
                                    <td>Авансовая</td>
                                    <td>50—100</td>
                                    <td>10</td>
                                    <td>14 560</td>
                                </tr>
                                <tr>
                                    <td>Москва</td>
                                    <td>Авансовая</td>
                                    <td>50—100</td>
                                    <td>10</td>
                                    <td>14 560</td>
                                </tr>
                                <tr>
                                    <td>Москва</td>
                                    <td>Авансовая</td>
                                    <td>50—100</td>
                                    <td>10</td>
                                    <td>14 560</td>
                                </tr>
                                <tr>
                                    <td>Москва</td>
                                    <td>Авансовая</td>
                                    <td>50—100</td>
                                    <td>10</td>
                                    <td>14 560</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text_content">
                    <div class="left_form">
                        <form action="">
                            <div class="title">Вопрос руководству</div>
                            <div class="field">
                                <div class="field_name">Имя и фамилия:</div>
                                <input type="text">
                            </div>
                            <div class="field">
                                <div class="field_name">Адрес e-mail:</div>
                                <input type="text">
                            </div>
                            <div class="field select">
                                <div class="field_name">Выберите тему:</div>
                                <div class="field_inner">
                                    <select name="" id="">
                                        <option value="Выберите">Выберите</option>
                                        <option value="Verona">Verona</option>
                                        <option value="Verona">Verona</option>
                                        <option value="Verona">Verona</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field_name">Текст вопроса:</div>
                                <textarea name="" id=""></textarea>
                            </div>
                            <div class="field_btn">
                                <div class="name">Внимание: <br>все поля обязательны <br>для заполнения</div>
                                <button type="submit" class="btn_button">Отправить</button>
                                <input type="reset" class="btn_button" value="Очистить">
                            </div>   
                        </form>
                    </div>  
                    <div class="info_block_wh">
                        <img src="files/inf.jpg" alt="">
                        <div class="name">В принципах нашей компании сотрудничать только с известными и проверенными производителями.</div>
                    </div>                                                         
                </div>
            </div>
        </div>
    </div>
include _footer.jade